.CodeMirror{
  height: 340px !important;
  /* color: blue; */
  height: 40vh !important;
}

.CodeMirror-gutters{
  background-color: #1d1e22 !important;
  /* background-color: pink !important; */
  /* height: 100px !important; */
}

.CodeMirror-scroll{
  background: #1d1e22
  /* background-color: red; */
  
}
